#ifndef OS2_INCLUDED
   #include <os2.h>
#endif


MENU ID_MENU_IMGEDITOR
BEGIN
        MENUITEM "Picture ~editor", ID_MENU_IMGEDITOR       
END


STRINGTABLE 
BEGIN
IDSTR_MENU_CONVERT "~Convert to"

IDSTR_AVCTITLE      "AVCImage._IM"
IDSTR_DIBTITLE      "DIBImage.DIB"
IDSTR_GIFTITLE      "GIFImage.GIF"
IDSTR_JPGTITLE      "JPGImage.JPG"
IDSTR_PCDTITLE      "PCDImage.PCD"
IDSTR_PCXTITLE      "PCXImage.PCX"
IDSTR_TGATITLE      "TargaImage.TGA"
IDSTR_TIFTITLE      "TIFImage.TIF"
IDSTR_PNGTITLE      "PNGImage.PNG"
IDSTR_MMOTIONTITLE  "VIDImage.VID"
IDSTR_CWIMAGETITLE  "Digital image"

IDSTR_IMAGEINFOPAGENAME "~Image information"
IDSTR_SPRINTFPIXEL	"%d Pixel"
IDSTR_SPRINTFBIT       "%d Bit"
;Bitmpap load errors
IDSTR_NOIMGIOPROCERROR   "No input/output procedure found for this image."
IDSTR_OPENFILEERRORTITLE "File error"
IDSTR_OPENFILEERROR      "Can't open the file."
IDSTR_NOMEMERROR         "No memory available."
IDSTR_IMGIOPROCCRASH     "Internal error during opening of the image. The desktop MUST be restarted or the system may get instable! All running applications will remain open."

IDSTR_IMAGEDETAIL_WIDTH   "Width"
IDSTR_IMAGEDETAIL_HEIGHT  "Height"
IDSTR_IMAGEDETAIL_DEPTH   "Depth"
IDSTR_IMAGEDETAIL_FORMAT  "Format"

;Titles used when starting player and editor applications
IDSTR_IMGEDITORTITLE       "Imageviewer"
IDSTR_MENU_IMAGEINFO        "Image information: %d x %d x %d"

;IDSTR_HELPLIBRARY   "MMPARTS.HLP"
END

