#ifndef OS2_INCLUDED
   #include <os2.h>
#endif

MENU    IDM_POPUP
BEGIN
    MENUITEM    "~Verberg titelbalk",    IDM_ITEMTITLEBAR
    MENUITEM    "",    0, MIS_SEPARATOR
    MENUITEM    "~Afsluiten",    IDM_ITEMEXIT
END
