#ifndef OS2_INCLUDED
   #include <os2.h>
#endif

MENU  ID_MENUTIMECONTEXT
BEGIN
	MENUITEM "經過時間(~E)"   ,          ID_MENUITEMELAPSED
	MENUITEM "剩餘時間(~R)" ,          ID_MENUITEMREMAINING
	MENUITEM "曲目資訊(~T)" ,       ID_MENUITEMID3
END

STRINGTABLE
BEGIN
IDSTR_MASTERVOLUMEITEM "主音量(~V)"
END
