
STRINGTABLE 
BEGIN
;Titles of video classes
IDSTR_CWVIDEOTITLE       "數位視訊"
IDSTR_MPGTITLE       	 "MPGVideo.MPG"
IDSTR_MOVTITLE       	 "MOVVideo.MOV"
IDSTR_FLITITLE       	 "FLIVideo.FLI"
IDSTR_AVITITLE       	 "AVIVideo.AVI"
IDSTR_VIDPLAYERTITLE       "視訊播放器"

END
